<el-dropdown class="inline-block fixed top-4 right-4 z-50">
  <button
    class="s-click inline-flex justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring-1 inset-ring-gray-300 cursor-pointer hover:bg-gray-50"
  >
    {{ t("info.language") }}
    <svg
      viewBox="0 0 20 20"
      fill="currentColor"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      class="-mr-1 h-5 w-5 text-gray-400"
    >
      <path
        d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
        clip-rule="evenodd"
        fill-rule="evenodd"
      />
    </svg>
  </button>

  <el-menu
    anchor="bottom end"
    popover
    class="origin-top-right rounded-md bg-white shadow-lg outline-1 outline-black/5 inset-ring-1 inset-ring-gray-300 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in"
  >
    <div class="py-1">
      {% set languages = __h("info.name") %} {% for language in languages %} {%
      for lng, name in language %}
      <a
        href="/{{ lng + currentUrl }}"
        class="flex items-center gap-x-2 w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100 focus:outline-none"
      >
        <img
          src="/assets/languages/{{ lng }}.svg"
          class="w-6 rounded-sm border border-black"
        />
        {{ name }}
      </a>
      {% endfor %} {% endfor %}
    </div>
  </el-menu>
</el-dropdown>
