<el-dropdown class="inline-block fixed top-4 right-4 z-50">
  <button
    class="inline-flex justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring-1 inset-ring-gray-300 hover:bg-gray-50"
  >
    {{ t("info.language") }}
    <img src="/assets/images/arrow.svg" class="-mr-1 h-5 w-5 text-gray-400" />
  </button>
  <el-menu
    anchor="bottom end"
    popover
    class="origin-top-right rounded-md bg-white shadow-lg outline-1 outline-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in"
  >
    <div class="py-1">
      {% set languages = __h("info.name") %} {% for language in languages %} {%
      for lng, name in language %}
      <a
        href="/change-language/{{ lng }}?redirect={{ currentUrl | url_encode }}"
        class="flex items-center gap-x-2 w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100 focus:outline-none"
      >
        <img
          src="/assets/languages/{{ lng }}.svg"
          alt="{{ name }}"
          class="h-4 w-6 rounded-sm"
        />
        {{ name }}
      </a>
      {% endfor %} {% endfor %}
    </div>
  </el-menu>
</el-dropdown>
