<!doctype html>
<html class="bg-slate-950" lang="{{ locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credits - Memory</title>

    <!-- Icons -->
    {% include "components/icons.html" %}

    <!-- Styles -->
    <link rel="stylesheet" href="/css/credits.css" />

    <!-- Important Scripts -->
    <script src="/js/libs/tailwindplus.min.js" type="module"></script>

    <script src="/js/components/sound.js"></script>
    <script src="/js/components/background_music.js" defer></script>
    <script src="/js/components/button_click.js" defer></script>
  </head>

  <body
    class="bg-[url(/assets/images/background.jpg)] bg-center bg-cover min-h-screen p-4"
  >
    {% include "components/languages.html" %}

    <div class="flex flex-col items-center mt-16">
      <h1 class="text-4xl md:text-5xl font-extrabold text-blue-400">
        {{ t('credits.title') }}
      </h1>

      <main class="flex flex-col items-center mt-8 w-full max-w-lg text-center">
        <div class="bg-slate-800 p-6 rounded-2xl shadow-2xl space-y-6 w-full">
          <p class="text-blue-300 text-lg font-semibold">
            {{ t('credits.description') }}
          </p>

          <ul class="space-y-3">
            {% for name, url in credits %}
            <li>
              <a
                href="{{ url }}"
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center justify-between bg-slate-700 hover:bg-blue-900 transition-colors duration-300 px-4 py-2 rounded-lg shadow-inner text-blue-200 font-medium"
              >
                <span class="capitalize">{{ t("credits.resources." ~ name) }}</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 text-blue-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                  />
                </svg>
              </a>
            </li>
            {% endfor %}
          </ul>

          <div class="mt-6 flex flex-row gap-4 justify-center">
            <a
              href="/"
              class="s-click card bg-indigo-600 px-4 py-2 rounded-md font-semibold text-white hover:bg-indigo-500"
            >
              {{ t('ui.home') }}
            </a>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
