<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Memory</title>
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <h1>Memory</h1>
  <main>
    <h2>Choose you difficulty</h2>
    <div class="difficulties">
      <button class="card-difficulty card-easy">Easy</button>
      <button class="card-difficulty card-normal">Normal</button>
      <button class="card-difficulty card-hard">Hard</button>
      <button class="card-difficulty card-extreme">Extreme</button>
    </div>
    <button class="card-play">PLAY</button>
  </main>
  <script src="/js/home.js"></script>
</body>

</html>