* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  text-align: center;
  font-family: sans-serif;
  margin: 2rem;
}

main {
  margin-top: 2rem;
}

.game-info {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card-holder {
  display: grid;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.card-holder.grid-4 {
  grid-template-columns: repeat(2, 15rem);
  grid-template-rows: repeat(2, 15rem);
  column-gap: 3rem;
  row-gap: 3rem;
}

.card-holder.grid-16 {
  grid-template-columns: repeat(4, 9rem);
  grid-template-rows: repeat(4, 9rem);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  background-color: transparent;
  cursor: pointer;
  border: none;
  perspective: 75rem;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2);
}

.card-flip .card-inner {
  transform: rotateY(180deg);
  cursor: auto;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  align-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front img {
  width: 100%;
  height: 100%;
}

.card-back {
  background-color: white;
  color: white;
  transform: rotateY(180deg);
  font-size: 5.5rem;
}

.card-guessed {
  transform: scale(.9);
  transition: all .5s;
}