@import "tailwindcss" source(none);

@source "../../views/home.html";
@source "../../public/js/home.js";
@source "../../src/config.js";

@layer components {
  .theme-btn {
    @apply flex flex-col items-center justify-center text-white font-bold text-lg 
           rounded-lg aspect-square shadow-lg 
           hover:shadow-xl hover:scale-105 
           transition-transform duration-200 cursor-pointer;
  }

  .difficulty-btn {
    @apply flex items-center justify-center text-white font-bold text-xl 
           rounded-lg aspect-square shadow-lg 
           hover:shadow-xl hover:scale-105 
           transition-transform duration-200 cursor-pointer;
  }

  .card-play {
    @apply bg-yellow-400 text-white font-extrabold text-2xl md:text-3xl 
           py-4 px-12 rounded-xl shadow-lg 
           hover:shadow-xl hover:scale-105 
           transition-transform duration-200 cursor-pointer;
  }

  .selected {
    @apply outline-4 outline-yellow-400 cursor-default !scale-107 !shadow-xl;
  }
}